<div>
   <div class='feed-story'>
      <h1>Tree Turtle!</h1>
      <h3>Random Happenstance</h3>
      <p>Today in Anytown USA, a turtle got stuck in a tree.
      Ironically it was cat-free-tree day.
      When the turtle was finally freed from it's wooden prison,
      the upset mayor decided to hold a second cat-free-tree day.</p>
       <img src="http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Reptiles/A-G/green-sea-turtle-closeup-underwater.adapt.945.1.jpg" />

   </div>
   
   <div class='feed-story'>
      <h1>Evil Octopi!</h1>
      <h3>Criminal Marine Life</h3>
      <p>This month has seen a rise in octopus attacks.
      Today alone 3 whole people have been mugged by the octopi.
      The victims, though mentally scarred, are uninjured,
      and police officers are working around the clock to bring these tentacled fiends to justice.</p>
      <img src='https://s-media-cache-ak0.pinimg.com/736x/7e/a4/e4/7ea4e4e721344aec6d0cac99790ca0fc--octopus-costume-octopus-art.jpg'  />
   </div>
</div>
